.option-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 12rem;
    height: 100%;
    background-color: rgb(2, 18, 2);
  }

.tools {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 1px solid black;
    gap: 10px;
    font-size: 1.6rem;
}

.axe, .pickaxe, .vacuum, .shovel{
   width: 10rem;
   height: 10rem;
   background-color: brown;
}

.tool-active {
    border: 4px solid orangered;
    box-sizing: border-box;
}